In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

c:\users\asish\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\users\asish\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\users\asish\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\users\asish\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv("Petrol_price.csv")

In [4]:
df.head()

             Month  Delhi  Kolkata  Mumbai  Chennai
0  August 03, 2019  72.62    75.30   78.27    75.44
1  August 02, 2019  72.69    75.37   78.34    75.52
2  August 01, 2019  72.80    75.44   78.42    75.60
3    July 31, 2019  72.86    75.50   78.48    75.66
4    July 30, 2019  72.86    75.50   78.48    75.66

In [5]:
df.columns

Index(['Month', 'Delhi', 'Kolkata', 'Mumbai', 'Chennai'], dtype='object')

In [6]:
X = df[['Delhi', 'Kolkata', 'Mumbai']]

In [7]:
y = df['Chennai']